---
layout: default
---
<div class="content">
    <h3>Lewis Davidson (born 1990) is a Mixed Media Artist, based in London. His work playfully addresses themes of
        value, transience and displacement through Found Objects, Sculpture, Photography and Installation.</h3>
</div>
<div class="masonry">
    {% assign sorted_posts = site.posts | sort: "position" %}
    {% for post in sorted_posts %}
    <a class="masonry-brick" href="{{site.baseurl}}{{post.url}}">
        <div class="masonry-content">
            <img src="{{site.baseurl}}{{post.cover_image}}?nf_resize=fit&w=600" />
            {% if post.title %}
            <h3 class="masonry-title">{{post.title}}</h3>
            {% endif %} {% if post.description %}
            <p class="masonry-description">{{post.description}}</p>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>