---
---

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

@import "variables.scss";

@import "image.scss";
@import "index.scss";
@import "masonry.scss";
@import "navbar.scss";
@import "post.scss";

body {
    font: 16px/1.4 $nunino;
    margin: 0 !important;
}

main {
    margin: $navbar-height $content-margin 20px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}
