<nav class="navbar">
    <ul class="title">
        <li><a href="{{site.baseurl}}/">Lewis Davidson</a></li>
    </ul>
    <ul class="links mobile-hidden">
        <li><a href="{{site.instagram_url}}" target="_blank">Instagram</a></li>
        <li><a href="{{site.baseurl}}/bio">Bio</a></li>
        <li><a href="{{site.baseurl}}/cv">CV</a></li>
    </ul>
    <button id="navbar-toggle">&#9776;</button>
</nav>
