<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script src="{{site.baseurl}}/assets/masonry.js"></script>
<script src="{{site.baseurl}}/assets/navbar.js"></script>
