#image-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: white;
}

#image-view.hidden {
    display: none;
}

#image-view figure {
    margin: 2rem 60px;
}

#image-view img {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
}

#image-view figcaption {
    display: inline-block;
    padding: 0.6rem 0.2rem;
    width: 40%;
}

@mixin button-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image-view .button-close {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
}

#image-view .button-left {
    @include button-container();
    left: 0;
}

#image-view .button-right {
    @include button-container();
    right: 0;
}

#image-view button {
    margin: 6px;
    border: none;
    font-size: 2rem;
    background: white;
    pointer-events: all;
}
