.masonry {
    display: grid;
    margin: 0 (-$content-margin);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 0;
    grid-gap: 10px;
}

.masonry-brick {
    display: block;
    grid-row-end: span 12;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    // border-radius: 5px;
    overflow: hidden;
}

.masonry-content {
    display: block;
}

.masonry-content img {
    position: relative;
    max-width: 100%;
}

$horizontal-padding: 8px;

.masonry-title {
    padding: 0 $horizontal-padding;
    margin: 0;
}

.masonry-description {
    padding: 0 $horizontal-padding;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .masonry {
        margin: 0;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 20px;
    }
}
