nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    font-size: 1.8rem;
    padding: 0.1rem $content-margin;
}

nav ul.links {
    display: block;
}

nav ul.links.mobile-hidden {
    display: none;
}

nav ul.links li {
    display: block;
}

nav ul.links li a {
    font-size: 1.2rem;
    padding: 0.4rem $content-margin;
}

#navbar-toggle {
    position: absolute;
    right: 0;
    border: none;
    background: white;
    font-size: 1.2rem;
    margin: 0.4rem;
}

@media only screen and (min-width: 768px) {
    nav {
        flex-direction: row;
    }
    nav ul.links.mobile-hidden {
        display: block;
    }
    nav ul.links li {
        display: inline-block;
    }
    #navbar-toggle {
        display: none;
    }
}
