<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <main class="wrapper">
            {% include header.html %}
            <div class="content">{{ content }}</div>
        </main>
        {% include scripts.html %}
    </body>
</html>
