---
layout: default
---

{% capture post_image_strings %}
{% for image in site.static_files %}
{% if image.path contains page.images_folder%}
{{image.path}},
{% endif %}
{% endfor %}
{% endcapture %}

{% assign post_images = post_image_strings | strip_newlines | split: ',' %}

<div class="post">
    <div class="post-header">
        <div class="content">{{ content }}</div>
        <h4 class="post-title">{{ page.title }}</h4>
        <h4 class="post-metadata">{{ page.material }}</h4>
        <h4 class="post-metadata">{{ page.size }}</h4>
        <h4 class="post-metadata">{{ page.year }}</h4>
    </div>
    {% for show in page.shows %}
    <div class="masonry">
        {% for image_path in post_images %}
        {% if image_path contains show.images_folder %}
        <a id="image-{{ forloop.index }}" class="masonry-brick">
            <div class="masonry-content">
                <img src="{{site.baseurl}}{{image_path}}?nf_resize=fit&w=600" />
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <h3>{{ show.venue }}</h3>
    {% endfor %}
</div>

<div id="image-view" class="hidden">
    <figure>
        <img />
        <figcaption />
    </figure>
    <div class="button-close">
        <button id="image-view-close">&#10005;</button>
    </div>
    <div class="button-left">
        <button id="image-view-left">&#8592;</button>
    </div>
    <div class="button-right">
        <button id="image-view-right">&#8594;</button>
    </div>
</div>

<script>
    const LEFT_KEY = 37;
    const RIGHT_KEY = 39;
    const ESCAPE_KEY = 27;
    const MOBILE_BREAKPOINT = 768;

    let currentImageIndex = null;
    const clientWidth = document.body.clientWidth;
    const imageView = document.querySelector("#image-view");
    const imageViewImage = imageView.querySelector("img");
    const imageViewCaption = imageView.querySelector("figcaption");
    const imageViewClose = document.querySelector("#image-view-close");
    const imageViewLeft = document.querySelector("#image-view-left");
    const imageViewRight = document.querySelector("#image-view-right");
    const images = JSON.parse(`{{ post_images | jsonify }}`);

    function showImageView() {
        imageView.classList.remove("hidden");
    }
    function hideImageView() {
        imageView.classList.add("hidden");
    }
    function displayImage(index) {
        const image = images[index];
        imageViewImage.setAttribute("src", `{{site.baseurl}}${image}?nf_resize=fit&w=1600`);
        currentImageIndex = index;
    }
    function previousImage() {
        const previousImageIndex = currentImageIndex - 1;
        if (previousImageIndex < 0) return;
        displayImage(previousImageIndex);
    }
    function nextImage() {
        const nextImageIndex = currentImageIndex + 1;
        if (nextImageIndex >= images.length) return;
        displayImage(nextImageIndex);
    }
    function initImageView() {
        imageViewClose.addEventListener("click", hideImageView);
        imageViewLeft.addEventListener("click", previousImage);
        imageViewRight.addEventListener("click", nextImage);
        images.forEach((image, index) => {
            const element = document.querySelector(`#image-${index + 1}`);
            element.addEventListener("click", () => {
                displayImage(index);
                showImageView();
            });
        });
        document.onkeydown = (event) => {
            if (event.keyCode == LEFT_KEY) {
                previousImage();
            } else if (event.keyCode == RIGHT_KEY) {
                nextImage();
            } else if (event.keyCode == ESCAPE_KEY) {
                hideImageView();
            }
        };
    }

    if (clientWidth <= MOBILE_BREAKPOINT) {
        console.log("clientWidth", clientWidth, "less than", MOBILE_BREAKPOINT);
        console.warn("not configuring image view");
    } else {
        initImageView();
    }
</script>